.operationWrapper {
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.audioWrapper {
  padding: 0 20px;
  margin: 10px 0;
}
.exampleWrapper {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  transform: translate3d(0, 0, 0);
  justify-content: space-around;
}